<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">

    <div class="card text-center border-radius-20">

        <div class="card-header card-header-default">
            <button class="btn btn-outline-primary waves-effect border-radius-20"
                    onclick="back()">
                <i class="fa fa-arrow-left"></i>
            </button>
            <h5 class="card-title m-right-10">Cadastro de Compra</h5>
        </div>

        <form id="formCompra" th:action="@{/compra}"
              method="post"
              th:object="${compra}"
              onsubmit="saveCompra(event)">
            <!--              onsubmit="validaCategoria('/categoria', '#formCategoria')">-->

            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="id">Código</label>
                            <input id="id"
                                   type="text"
                                   class="form-control"
                                   th:field="*{id}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="form-group text-left">
                            <label for="descricao">Descrição</label>
                            <input id="descricao"
                                   type="text"
                                   name="descricao"
                                   class="form-control"
                                   th:field="*{descricao}"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="dataCompra">Data de Compra</label>
                            <input id="dataCompra"
                                   name="dataCompra"
                                   type="text"
                                   class="form-control datepicker"
                                   th:field="*{dataCompra}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-left">
                            <label for="fornecedor">Fornecedor</label>
                            <input type="text"
                                   id="fornecedor"
                                   name="fornecedor"
                                   th:field="*{fornecedor}"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <br>
                <div class="row" style="border: 1px solid #f5f6f6"></div>
                <br>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group text-left">
                            <label for="produto">Produto</label>
                            <input type="text"
                                   id="produto"
                                   name="produto"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="qtde">Quantidade</label>
                            <input type="number"
                                   id="qtde"
                                   name="qtde"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center">
                        <button class="btn btn-primary border-radius-20"
                                onclick="addProduto(event)">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                    </div>
                </div>

                <table class="table table-responsive-md table-striped table-bordered table-sm" id="table_produtos">
                    <thead>
                    <tr>
                        <th class="th-sm">Cód
                        </th>
                        <th class="th-sm">Produto
                        </th>
                        <th class="th-sm">Quantidade
                        </th>
                        <th class="th-sm">Valor Unit
                        </th>
                        <th class="th-sm">Total
                        </th>
                    </tr>
                    </thead>
                    <tbody id="dados"></tbody>
                </table>

            </div>
            <div class="card-footer py-2">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary border-radius-20"
                                type="submit">Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/model/Compra.js}"></script>
    <script type="text/javascript" th:src="@{/js/model/CompraProduto.js}"></script>
    <script type="text/javascript" th:src="@{/js/compra.js}"></script>
</th:block>
</body>
</html>

