<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container">

        <div class="d-flex justify-content-between border-cabecalho-list">
            <h1>Lista de Compras</h1>
            <div>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/}"
                   title="Tela Inicial">
                    <i class="fas fa-home"></i>
                </a>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/compra/form}"
                   title="Nova Compra">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Data Compra</th>
                <th class="text-center">Fornecedor</th>
                <th class="text-center">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="compra: ${compras}" th:id="'row_' + ${compra.id}">
                <td class="text-center" th:text="${compra.id}"></td>
                <td class="text-center" th:text="${#temporals.format(compra.dataCompra, 'dd/MM/yyyy')}"></td>
                <td class="text-center" th:text="${compra.fornecedor.nomeFantasia}"></td>
                <td class="text-center" th:text="${compra.descricao}"></td>
                <td width="1%">
                    <a th:href="@{/compra/{id}(id=${compra.id})}"
                       class="btn btn-primary btn-edit" title="Editar">
                        <i class="fas fa-edit ml-2"></i>
                    </a>
                </td>
                <td width="1%">
                    <a th:href="'javascript:remove('+ ${compra.id} + ',\'/compra\');'"
                       class="btn btn-danger btn-delete" title="Remover">
                        <i class="fas fa-trash ml-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Paginação">
            <ul class="pagination justify-content-center" th:if="${compras.totalPages > 0}">
                <li class="page-item"
                    th:classappend="${pageNumber == compras.number + 1} ? 'active' : ''"
                    th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link"
                       th:href="@{/compra/(size=${compras.size}, page=${pageNumber})}"
                       th:text="${pageNumber}">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
</body>
</html>
