<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container">

        <div class="d-flex justify-content-between border-cabecalho-list">
            <h1>Lista de Fornecedores</h1>
            <div>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/}"
                   title="Tela Inicial">
                    <i class="fas fa-home"></i>
                </a>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/fornecedor/form}"
                   title="Novo Fornecedor">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Razão Social</th>
                <th class="text-center">Nome Fantasia</th>
                <th class="text-center">CNPJ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fornecedor: ${fornecedores}" th:id="'row_' + ${fornecedor.id}">
                <td class="text-center" th:text="${fornecedor.id}"></td>
                <td class="text-center" th:text="${fornecedor.razaoSocial}"></td>
                <td class="text-center" th:text="${fornecedor.nomeFantasia}"></td>
                <td class="text-center" th:text="${fornecedor.cnpj}"></td>
                <td width="1%">
                    <a th:href="@{/fornecedor/{id}(id=${fornecedor.id})}"
                       class="btn btn-primary btn-edit" title="Editar">
                        <i class="fas fa-edit ml-2"></i>
                    </a>
                </td>
                <td width="1%">
                    <a th:href="'javascript:remove('+ ${fornecedor.id} + ',\'/fornecedor\');'"
                       class="btn btn-danger btn-delete" title="Remover">
                        <i class="fas fa-trash ml-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Paginação">
            <ul class="pagination justify-content-center" th:if="${fornecedores.totalPages > 0}">
                <li class="page-item"
                    th:classappend="${pageNumber == fornecedores.number + 1} ? 'active' : ''"
                    th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link"
                       th:href="@{/fornecedor/(size=${fornecedores.size}, page=${pageNumber})}"
                       th:text="${pageNumber}">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
</body>
</html>
