<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="page-header" style="margin: 100px">
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Bem vindo jovem.</h1>
            </div>
            <div class="row">

            </div> <!-- FIM div row -->
        </div>
    </div>
</section>
</body>
</html>
