<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">

    <div class="card text-center border-radius-20">

        <div class="card-header card-header-default">
            <button class="btn btn-outline-primary waves-effect border-radius-20" onclick="back()">
                <i class="fa fa-arrow-left"></i>
            </button>
            <h5 class="card-title m-right-10">Cadastro de Produto</h5>
        </div>

        <form id="formProduto" th:action="@{/produto}"
              method="post"
              th:object="${produto}"
              enctype="multipart/form-data"
              onsubmit="validaProduto(event)">

            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="id">Código</label>
                            <input id="id"
                                   type="text"
                                   name="id"
                                   class="form-control"
                                   th:field="*{id}"
                                   readonly/>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="form-group text-left">
                            <label for="nome">Nome</label>
                            <input id="nome"
                                   type="text"
                                   name="nome"
                                   class="form-control"
                                   th:field="*{nome}"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="precoCusto">Preço de Custo</label>
                            <input id="precoCusto"
                                   name="precoCusto"
                                   type="number"
                                   class="form-control"
                                   th:field="*{precoCusto}"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="precoVenda">Preço de Venda</label>
                            <input id="precoVenda"
                                   name="precoVenda"
                                   type="number"
                                   class="form-control"
                                   th:field="*{precoVenda}"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="categoria">Categoria</label>
                            <select class="form-control"
                                    id="categoria"
                                    name="categoria"
                                    th:field="*{categoria}">
                                <option value="">Selecione uma Opção</option>
                                <option th:each="categoria: ${categorias}"
                                        th:value="${categoria.id}"
                                        th:text="${categoria.descricao}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="marca">Marca</label>
                            <select class="form-control"
                                    id="marca"
                                    name="marca"
                                    th:field="*{marca}">
                                <option value="">Selecione uma Opção</option>
                                <option th:each="marca: ${marcas}"
                                        th:value="${marca.id}"
                                        th:text="${marca.descricao}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="tipo">Tipo</label>
                            <select class="form-control"
                                    id="tipo"
                                    name="tipo"
                                    th:field="*{tipo}">
                                <option value="">Selecione uma Opção</option>
                                <option value="P">PS4</option>
                                <option value="X">Xbox</option>
                                <option value="N">Nintendo</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="qtdeParcela">Qtde Parcelas</label>
                            <input id="qtdeParcela"
                                   name="qtdeParcela"
                                   type="number"
                                   class="form-control"
                                   th:field="*{qtdeParcelas}"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group text-left">
                            <label for="descAvista">Desconto a Vista (%)</label>
                            <input id="descAvista"
                                   name="descAvista"
                                   type="number"
                                   class="form-control"
                                   th:field="*{descAVista}"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="anexo">Imagem (capa)</label>
                            <input type="file" name="anexo" id="anexo"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer py-2">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary border-radius-20"
                                type="submit">Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/produto.js}"></script>
</th:block>
</body>
</html>
