<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container">

        <div class="d-flex justify-content-between border-cabecalho-list">
            <h1>Lista de Produtos</h1>
            <div>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/}"
                   title="Tela Inicial">
                    <i class="fas fa-home"></i>
                </a>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/produto/form}"
                   title="Novo Produto">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>


        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Preço Custo</th>
                <th class="text-center">Preço Venda</th>
                <th class="text-center">Categoria</th>
                <th class="text-center">Marca</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto: ${produtos}" th:id="'row_' + ${produto.id}">
                <td class="text-center" th:text="${produto.id}"></td>
                <td class="text-center" th:text="${produto.nome}"></td>
                <td class="text-center" th:text="${produto.precoCusto}"></td>
                <td class="text-center" th:text="${produto.precoVenda}"></td>
                <td class="text-center" th:text="${produto.categoria.descricao}"></td>
                <td class="text-center" th:text="${produto.marca.descricao}"></td>
                <td width="1%">
                    <a th:href="@{/produto/{id}(id=${produto.id})}"
                       class="btn btn-primary btn-edit" title="Editar">
                        <i class="fas fa-edit ml-2"></i>
                    </a>
                </td>
                <td width="1%">
                    <a th:href="'javascript:remove('+ ${produto.id} + ',\'/produto\');'"
                       class="btn btn-danger btn-delete" title="Remover">
                        <i class="fas fa-trash ml-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
