<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="container">

        <div class="d-flex justify-content-between border-cabecalho-list">
            <h1>Lista de Marcas</h1>
            <div>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/}"
                   title="Tela Inicial">
                    <i class="fas fa-home"></i>
                </a>
                <a class="btn btn-primary border-radius-20"
                   th:href="@{/marca/form}"
                   title="Nova Marca">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th class="text-center">Código</th>
                <th class="text-center">Descrição</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="marca: ${marcas}" th:id="'row_' + ${marca.id}">
                <td class="text-center" th:text="${marca.id}"></td>
                <td class="text-center" th:text="${marca.descricao}"></td>
                <td width="1%">
                    <a th:href="@{/marca/{id}(id=${marca.id})}"
                     class="btn btn-primary btn-edit" title="Editar">
                        <i class="fas fa-edit ml-2"></i>
                    </a>
                </td>
                <td width="1%">
                    <a th:href="'javascript:remove('+ ${marca.id} + ',\'/marca\');'"
                       class="btn btn-danger btn-delete" title="Remover">
                        <i class="fas fa-trash ml-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Paginação">
            <ul class="pagination justify-content-center" th:if="${marcas.totalPages > 0}">
                <li class="page-item"
                    th:classappend="${pageNumber == marcas.number + 1} ? 'active' : ''"
                    th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link"
                       th:href="@{/marca/(size=${marcas.size}, page=${pageNumber})}"
                       th:text="${pageNumber}">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
</body>
</html>
